.todo-list-template {
    background: rgb(24, 39, 50);
    width: 512px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); /* 그림자 */ 
    margin: 0 auto; /* 페이지 중앙 정렬 */
    margin-top: 4rem;
}

.title {
    padding: 1rem;
    font-size: 2.5rem;
    text-align: center;
    font-weight: 100;
    color: white;
}
  
.input-wrapper {
    padding: 1.5rem;
    border-bottom: 1px solid rgb(74, 128, 167);
}

.items-wrapper {
    min-height: 25rem;
}
