body {
	text-align: center;
	font-family: sans-serif;
	font-size: 50px;
    color:#4CAF50;
    padding: 15px 32px;
}

input {
	margin: 10px;
    font-size: 16px;
    padding: 15px 32px;
}

.add {
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 15px 32px;
}

li {
	margin: 10px;
    background: #4CAF50;
    color: white;
    font-size: 20px;
    list-style-type: none;
    display: inline-block;
    padding: 15px 32px;
}